@charset "UTF-8";

body{
	background-image: url(/resources/img/msImg1.jpg);
}

#header{
    position:absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 95px;
    z-index: 10000;
}
.headerIn{
    position: relative;
    width: 1400px;
    height: 10px;
    margin: 0 auto;
}

.logo a{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: 0;
    background-image: url(/resources/img/vigesco_logo.png);
    background-size: 100px 100px;
    text-indent: -99999px;
    z-index: 20000;
}
		
		
		
.form{
	margin: 30px;
	text-align: center;
	font-family: 'Noto Serif KR', serif;
}
h1{
	font-family: 'Noto Serif KR', serif;
	font-size: 40px;
	color:ddd;
	margin-top: 50px;
  		margin-bottom: 50px;
}
th{	
	height: 29px;
	border-top: 0px;
	background-color: #424343;
	color: white;
	font-weight: normal;
}
td{
	border-top: 0px;
	border-bottom: 1px solid #424343;
	background-color: rgba(0,0,0,0.8);
	color:#ddd;
	text-align:center;
	padding-bottom:15px
}

#UpdateRemove a{
	margin-right:20px;
	font-weight:bold;
	text-decoration:none;
	font-size:20px;
	color:ddd;
}

#addReply{
	margin-left:47%;
}

.replyList{
	margin-left:46%;
	margin-bottom:40px;
	list-style-type: "\1F495";
}

#uploadResult li{
	margin-right:15%;
	list-style:none;
}